*{box-sizing: border-box;}
*{outline: none;}
*{margin:0;
  padding:0;}
*{list-style: none;}

.sige{
  background-image:url(IMG_2901.jpg);
  background-size: cover;
  height:659px;
}

h1{
  font-family: 'Nanum Pen Script', cursive;
  font-size:100px;
  font-weight: normal;
  text-align: right;
  padding-top:290px;
  padding-right:50px;
  color:rgba(128,164,145,0.9);
}

header{
  height:80px;
  width:100%;
  background-color: rgba(179,208,215,0.7);
  z-index: 10;
  position:fixed;
  top:0;
  margin:0;
}

header img{
  float:left;
  object-fit: cover;
  height:60px;
  width:60px;
  margin:10px;
  box-shadow:3px 3px rgba(255,255,255,0.5);
  transition:all 1s;
}

header img:hover{
  object-fit:cover;
  height:70px;
  width:70px;
  box-shadow:3px 3px rgba(255,255,255,0.5);
}

ul{
  display: flex;
  float:right;
}

.lili{
  display:block;
  height:80px;
  width:100px;
  margin-left:15px;
  line-height:80px;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: center;
  text-decoration: none;
  color:#1760a0;
  letter-spacing:3px;
  transition:all 1s;
}

.lili:hover{
  background-color: rgba(255, 255, 255, 0.9);
}



footer{
  height:70px;
  background-color: rgba(23,96,160,0.8);
  text-align: center;
}

footer p{
  color:white;
  line-height: 70px;
  font-size: 15px;
  letter-spacing: 3px;
  font-family: 'Nanum Pen Script', cursive;
font-family: 'Sunflower', sans-serif;
}

.loves{
  height:500px;
  background-color: rgba(219, 237, 240, 0.5);
  padding-top:85px;
}

.love{
  width:33%;
  float:left;
  text-align: center;
  position: relative;

}

.loveimg{
  height:300px;
  width:300px;
}

.lovep{
  position: absolute;
  color: white;
  top:150px;
  left:65px;
  text-align: center;

  font-size:25px;
  background-color: rgba(70,153,202,0.7);
  padding:5px 10px;
}
